<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Update folder</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="options-folder-header">Update folder</div>
        <% if (locals.folder) { %>
            <div>
                <form action="/folders/<%= folder.id %>/update" method="POST">
                    <div class="update-folder-form-row">
                        <label for="folderName">Name of folder:</label>
                        <input type="text" name="folderName" id="folderName" value="<%= folder.name %>" required />
                    </div>
                    <div class="update-folder-form-row">
                        <button type="submit" class="update-folder-submit-button">Update</button>
                    </div>
                </form>
            </div>
        <% }; %>
    </body>
</html>