* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkturquoise;
    color: black;
    font-size: 3.5rem;
    padding: 10px;
    text-shadow: 2px 4px 9px;
}

.navigation {
    display: flex;
    padding: 5px;
}

.not-logged-in-text {
    flex: 1;
    font-size: 2rem;
    color: #c41313;
}

.navigation-control {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.navigation-control-button {
    background-color:sandybrown;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
    border-radius: 10px;
}

.greeting {
    flex: 1;
    font-size: 2rem;
    color: darkgreen;
    padding-left: 30px;
}

.log-out-button {
    font-size: 2rem;
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}

.add-folder-container {
    padding: 10px 35px;
}

.add-folder-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: navy;
    color: white;
    font-size: 1.3rem;
}

.no-folders-container, .present-folders {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    padding: 5px 10px;
}

.folders-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 50px;
}

.folder-item {
    background-color: orange;
    max-width: 290px;
}

.folder-header {
    display: flex;
}

.non-folder-header-part {
    flex: 7;
}

.folder-header-part {
    background-color: black;
    min-height: 20px;
    flex: 3;
}

.folder-name {
    text-align: center;
    font-size: 1.9rem;
}

a:link, a:visited {
    color: blue;
}

.files-qty {
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
}

.date {
    font-size: 1.2rem;
    padding: 0 10px;
}

.folder-control {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.folder-control-button {
    padding: 5px 10px;
    background-color: lightgray;
    font-weight: bold;
    font-size: 1.4rem;
}

.sign-up-header {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 3rem;
    background-color: lightgreen;
}

.sign-up-row {
    display: flex;
    justify-content: space-between;
    margin: 0 34vw;
    padding: 10px 0;
}

input {
    font: inherit;
}

.sign-up-row-submit {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.sign-up-button {
    padding: 10px 20px;
    font-size: 2rem;
    background-color: mediumslateblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.error {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: darkred;
    font-size: 1.7rem;
}

.log-in-header {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    background-color: aqua;
    padding: 20px 0;
}

.log-in-row{
    display: flex;
    justify-content: space-between;
    margin: 0 35vw;
    padding: 7px 0;
}

.log-in-row-submit {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.log-in-submit-button {
    padding: 10px 20px;
    background-color: mediumslateblue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 2rem;
}

.options-folder-header{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    background-color:gold;
    padding: 20px 0;
}

.add-folder-form-row {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 30px 0;
}

.add-folder-form-row label {
    font-weight: bold;
    font-size: 1.5rem;
}

.add-folder-submit-button {
    padding: 20px 40px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: darkgreen;
    color: white;
    border-radius: 20px;
}

.file-control {
    padding: 15px;
}

.to-main-page-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.upload-file-form-row {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-right: 30px;
}

.upload-file-button-submit {
    font-size: 1.1rem;
    padding: 5px 10px;
    background-color: #abbdce;
}

.no-files-field {
    padding: 50px;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
}

.files-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 50px;
}

.file-item {
    border: 2px solid black;
    max-width: 300px;
    background-color: ivory;
}

.file-name {
    font-weight: bold;
    padding: 10px 5px;
    font-size: 1.2rem;
}

.file-size {
    font-size: 1.2rem;
    padding-left: 10px;
}

.file-uploaded-date {
    text-align: right;
    font-style: italic;
    font-size: 1.2rem;
    padding: 10px 5px;
}

.file-control-row {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.delete-file-button {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 1.1rem;
}

.download-file-button {
    font-weight: bold;
    padding: 5px 15px;
    background-color: lightgray;
}